<section class="vh-100 gradient-custom">
  <div class="container" *ngIf="pro">
    <div class="row">
      <div>
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
          <div class="form-group">
            <label for="nombreP"><h5>Nombre del proyecto</h5></label>
            <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="pro.nombreP" required>
          </div>
          <div class="form-group">
            <label for="descripP"><h5>Descripción del proyecto</h5></label>
            <input type="text" class="form-control" id="descripP" name="descripP" [(ngModel)]="pro.descripP" required>
          </div>
          <div class="form-group">
            <label for="linkP"><h5>Link al proyecto</h5></label>
            <input type="text" class="form-control" id="linkP" name="linkP" [(ngModel)]="pro.linkP" required>
          </div>
          <button class="btn btn-info">
            Actualizar proyecto
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
